@media(max-width:500px)
{

	.header .logo{width: 100%;}
	.header .menu{display: none;}
	.slider .span1{font-size: 20px}
	.slider .span2{font-size: 40px;}
	.slider .span3{font-size: 40px;left: 170px}
      .slider .span4{font-size: 50px;top: 200px}
         .slider .span5{height: 50px;width: 180;border-radius: 40px;font-size: 20px;line-height: 50px}
         .nav .nav1,.nav2,.nav3 {width: 100%}
          .content .content1{width: 100%;margin-bottom: 25px}
          .content .content2{width: 100%;margin-bottom: 25px}
          .content .content3{width: 100%;margin-bottom: 25px}
           .agent .agent1{width: 100%;margin-bottom: 20px}
            .agent .agent2{width: 100%;margin-bottom: 20px}
             .agent .agent3{width: 100%;margin-bottom: 20px}
               .project .project1{width: 100%;margin-bottom: 20px}
               .project .project2{width: 100%;margin-bottom: 20px}
               .project .project3{width: 100%;margin-bottom: 20px}
                .Testimonials .testimg1{width: 100%}
                .Testimonials .test2{display: none;}
                .footer .footer1{width: 100%;margin-bottom: 20px;}
                .footer .footer2{width: 100%;margin-bottom: 20px;}
                .footer .footer3{width: 100%;margin-bottom: 20px;}
                }
                  



          

	
}